.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  color: #000;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__logo {
  font-size: calc(20px + 4 * ((100vw - 320px) / 1080));
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
}

.header__nav-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item a {
  position: relative;
  display: inline-block;
  margin: 0px 15px;
  color: #fff;
  font-weight: 500;
}

.header.sticky {
  background: #fff;
  padding: 20px 100px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.header.sticky .header__logo {
  color: #111;
}

.header.sticky .header__nav-item a {
  color: #111;
}

.banner {
  position: relative;
  min-height: 100vh;
  background: url("../img/banner.jpg") 0 0/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  color: #fff;
}

.banner h2 {
  font-size: calc(24px + 24 * ((100vw - 320px) / 1080));
  line-height: 1.2;
}

.banner h3 {
  font-size: calc(16px + 8 * ((100vw - 320px) / 1080));
}

.banner span {
  font-size: calc(36px + 36 * ((100vw - 320px) / 1080));
  font-weight: 900;
}

.banner__text {
  margin-left: 100px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content {
  padding-right: 30px;
}

.about__content h3 {
  font-size: calc(16px + 8 * ((100vw - 320px) / 1080));
  margin-bottom: 10px;
  font-weight: 600;
}

.about__photo img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.about .w50 {
  min-width: 50%;
}

.services {
  background: #111;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.services__content {
  max-width: 340px;
  background: #222;
  padding: 35px 20px 40px;
  margin: 20px 40px;
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

.services__content:hover {
  background: #2196f3;
}

.services__content img {
  max-width: 80px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.services__content h2 {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1080));
  font-weight: 600;
  margin: 10px 0px 15px 0px;
}

.work__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__item {
  width: 50%;
  padding: 20px;
}

.work__item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.contact {
  background: #111;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__info {
  min-width: 40%;
}

.contact__info h3 {
  color: #fff;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1080));
  font-weight: 500;
  margin-bottom: 10px;
}

.contact__item {
  position: relative;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__icon {
  min-width: 40px;
  padding-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact__text {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.contact__text h4 {
  font-size: calc(16px + 8 * ((100vw - 320px) / 1080));
  color: #2196f3;
}

.contact__text a {
  font-size: calc(14px + 6 * ((100vw - 320px) / 1080));
  color: #fff;
  font-weight: 300;
  margin: 10px 0;
}

.contact__form {
  min-width: 60%;
}

.contact__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form h3 {
  color: #fff;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1080));
  font-weight: 500;
  margin-bottom: 10px;
}

.contact__form input,
.contact__form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
}

.contact__form textarea {
  min-height: 200px;
}

.contact__form input::-webkit-input-placeholder, .contact__form textarea::-webkit-input-placeholder {
  color: #999;
}

.contact__form input::-moz-placeholder, .contact__form textarea::-moz-placeholder {
  color: #999;
}

.contact__form input:-ms-input-placeholder, .contact__form textarea:-ms-input-placeholder {
  color: #999;
}

.contact__form input::-ms-input-placeholder, .contact__form textarea::-ms-input-placeholder {
  color: #999;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
  color: #999;
}

.contact__form input[type="submit"] {
  max-width: 100px;
  background: #2196f3;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.section__title {
  width: 100%;
  text-align: center;
  margin: 0px 0px 30px 0px;
  color: #111;
}

.section__title h2 {
  font-weight: 600;
  font-size: calc(20px + 10 * ((100vw - 320px) / 1080));
}

.section__title p {
  margin-top: 10px;
}

.white {
  color: #fff;
}

.btn {
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section {
  padding: 100px 0px;
}

@media (min-width: 1415px) {
  .container {
    margin: 0px auto;
  }
}

@media (max-width: 1412px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 15px;
  }
}